.main-section {
  /*background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);*/
  background: linear-gradient(to bottom, #41be71 0%, #337ab7 100%);
  /*background: #cc6600;*/
}

.intro {
  padding:30px;
}
.navbar-custom {
  padding-top: 30px;
}
.bg-custom {
  background-color: #aaa;
}
.engineer {
  font-weight:bold;
}

.engineer:after {
  content: ' ';
  display: block;
  width: 50px;
  margin: 10px auto -10px 0;
  border: 2px solid #fff;
}

.about-title, .skillset-title, .myworks-title {
  color:#337ab7;
  font-weight: bold;
  letter-spacing: 2px;
}

.about-title:after, .skillset-title:after, .myworks-title:after {
  content: ' ';
  display: block;
  width: 50px;
  margin: 10px auto -10px 0;
  border: 2px solid #337ab7;
}

.fa-lightbulb, .fa-cube, .fa-bookmark {
  padding-top: 10px;
  color: #ccccff;
  font-size: 48px;
}

.about-text > p {
  color:#818181;
  font-size:18px;
  letter-spacing:1px;
  line-height:30px;
}

.fa-connectdevelop, .fa-graduation-cap, .fa-envelope {
  padding-top: 10px;
  color: #eee;
  font-size: 48px;
}
.experience-title, .education-title, .contact-title {
  color:#fff;
  font-weight: bold;
  letter-spacing: 2px;
}

.experience-title:after, .education-title:after, .contact-title:after {
 content: ' ';
 display: block;
 width: 50px;
 margin: 10px auto -10px 0;
 border: 2px solid #fff;
}
.ex-conetent {
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: .8rem;
}
.text-light-custom {
  font-size: 18px;
  opacity: .7;
}

.link-style {
  color:white;
}
.link-style:hover {
  color: #ddd;
}

.progress-text {
  font-size: 15px;
  letter-spacing: 2px;
  /*color: rgba(34,125,170,1);*/
  color: #666;
}

.progress-bar {
  /*background: linear-gradient(to right, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);*/
  background: linear-gradient(to right, #337ab7 0%, #41be71 100%);
  border-radius: .25rem;
}

.contact-text {
  color:#eee;
}

.footer-section {
  background: #337ab7;
}

.card-border {
  border-radius: .75rem;
}

[v-cloak] {
  display: none;
}

.card-body {
  overflow: hidden;
}

.carousel {
  width: 150%;
}

.carousel-control-next {
    left: 55%;
}

.carousel-item img {
  border-radius: .75rem;
}

.item img {
  border-radius: .75rem;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(50%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-50%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);

}

.owl-prev {
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: -5px;
    display: block!IMPORTANT;
}

.owl-next {
    position: absolute;
    top: 5%;
    bottom: 5%;
    right: -5px;
    display: block!IMPORTANT;
}
/* -- loading png */
.overlay{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 1400px; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 14;
  /*border-radius: .75rem;*/
  background-color: rgba(255,255,255,0.96); /*dim the background*/
}
/* loading part */
.loader-frame {
  position: fixed;
  left: calc(50% - 2.8rem);
  top: calc(50% - 2.3rem);
  z-index: 15;
  border-radius: .55rem;
}
.loader {
  border: 6px solid #b1cfe9;
  border-radius: 50%;
  border-top: 6px solid #337ab7;
  border-bottom: 6px solid #337ab7;
  width: 50px;
  height: 50px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
     -moz-animation: spin 2s linear infinite;
      -ms-animation: spin 2s linear infinite;
       -o-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.color-main {
  color: #337ab7;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
        touch-action: auto;
}
