.main-section {
  /*background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);*/
  background: linear-gradient(to bottom, #41be71 0%, #337ab7 100%);
  /*background: #cc6600;*/
}

.intro {
  padding:30px;
}
.navbar-custom {
  padding-top: 30px;
}

.engineer {
  font-weight:bold;
}

.engineer:after {
  content: ' ';
  display: block;
  width: 50px;
  margin: 10px auto -10px 0;
  border: 2px solid #fff;
}

.about-title, .skillset-title, .myworks-title {
  color:#337ab7;
  font-weight: bold;
  letter-spacing: 2px;
}

.about-title:after, .skillset-title:after, .myworks-title:after {
  content: ' ';
  display: block;
  width: 50px;
  margin: 10px auto -10px 0;
  border: 2px solid #337ab7;
}

.fa-lightbulb, .fa-cube, .fa-bookmark {
  padding-top: 10px;
  color: #ccccff;
  font-size: 48px;
}

.about-text > p {
  color:#818181;
  font-size:18px;
  letter-spacing:1px;
  line-height:30px;
}

.fa-connectdevelop, .fa-graduation-cap, .fa-envelope {
  padding-top: 10px;
  color: #eee;
  font-size: 48px;
}
.experience-title, .education-title, .contact-title {
  color:#fff;
  font-weight: bold;
  letter-spacing: 2px;
}

.experience-title:after, .education-title:after, .contact-title:after {
 content: ' ';
 display: block;
 width: 50px;
 margin: 10px auto -10px 0;
 border: 2px solid #fff;
}
.ex-conetent {
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: .8rem;
}
.text-light-custom {
  font-size: 18px;
  opacity: .7;
}

.link-style {
  color:white;
}
.link-style:hover {
  color: #ddd;
}

.progress-text {
  font-size: 15px;
  letter-spacing: 2px;
  /*color: rgba(34,125,170,1);*/
  color: #666;
}

.progress-bar {
  /*background: linear-gradient(to right, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);*/
  background: linear-gradient(to right, #41be71 0%, #337ab7 100%);
  border-radius: .25rem;
}

.contact-text {
  color:#eee;
}

.footer-section {
  background: #337ab7;
}

.card-border {
  border-radius: .75rem;
}

[v-cloak] {
  display: none;
}

.carousel-item img {
  border-radius: .75rem;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(50%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-50%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);

}
