<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78634513-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-78634513-2');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Antony Zhang</title>
  <meta name="description" content="Hi! I am a Senior Cloud Engineer in frontend and aws">
  <meta property="og:title" content="Antony Zhang" />
  <meta property="og:image" content="https://antony88883.github.io/intro/imgs/me.png" />
  <meta property="og:description" content="Hi! I am a Senior Cloud Engineer" />
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon shortcut" type="image/png" href="imgs/favicon.png" />
</head>

<body>
  <div id="app" v-cloak>
    <div class="container-fluid bg-gradient">
      <div class="row justify-content-center">
        <div class="col-11 col-md-10">
          <!-- navbar -->
          <nav class="navbar justify-content-between px-0 pt-8">
            <a class="navbar-brand" href="#">
              <h3 class="text-light tracking-wider mb-0">ANTONY ZHANG</h3>
            </a>
            <div class="btn-group" role="group">
              <button class="btn btn-light" :class="{ active: $i18n.locale === 'en' }"
                @click="switchlang('en')">EN</button>
              <button class="btn btn-light" :class="{ active: $i18n.locale === 'zh_tw' }"
                @click="switchlang('zh_tw')">中</button>
            </div>
          </nav>
          <div class="text-center pt-20 pb-32">
            <img src="imgs/me.png" class="rounded-circle border border-white" width="200" alt="profile">
            <h1 class="h1 text-white font-weight-bold my-4">{{ $t("message.cloudEngineer") }}</h1>
            <p class="text-light">{{ $t("message.hello") }}</p>
            <h2 class="h4 text-light tracking-wider leading-7">{{ $t("message.world") }}</h2>
          </div>
        </div>
      </div>
    </div>
    <!--about-->
    <div class="container-fluid pt-20 pb-20">
      <div class="row justify-content-center">
        <div class="col-11 col-sm-4 col-md-4 col-lg-3">
          <h2 class="about-title">{{ $t("message.about") }}</h2>
          <i class="far fa-lightbulb my-3"></i>
        </div>
        <div class="col-11 col-sm-4 col-md-6 col-lg-7 text-lg text-gray-600 tracking-wider">
          <p>{{ $t("message.about1") }}</p>
          <p>{{ $t("message.about2") }}</p>
          <p>{{ $t("message.about3") }}</p>
        </div>
      </div>
    </div>
    <!--experience-->
    <div class="container-fluid bg-gradient pt-20 pb-16">
      <div class="row justify-content-center">
        <div class="col-11 col-sm-4 col-md-4 col-lg-3">
          <h2 class="experience-title">{{ $t("message.exp") }}</h2>
          <i class="fab fa-connectdevelop my-3"></i>
        </div>
        <div class="col-11 col-sm-4 col-md-6 col-lg-7">
          <div class="card text-white border-light bg-transparent rounded-xl mb-4" v-for="e in experiences">
            <div class="card-body opacity-95">
              <span class="badge badge-dark mb-2"><i class="fas fa-toolbox"></i>&nbsp;{{ $t(e.field) }}</span>
              <h3 class="h-4">{{ $t(e.title) }}</h3>
              <p class="mb-0">{{ $t(e.company) }}, {{ $t(e.location) }}</p>
              <small class="mb-2">{{ e.period }}</small>
              <ul class="mt-2">
                <li v-for="c in e.content">{{ $t(c) }}</li>
              </ul>
              <div class="text-right">
                <a type="button" class="btn btn-light" :href="e.link" target="_blank">{{ $t("message.view") }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--skillset-->
    <div class="container-fluid pt-20 pb-16">
      <div class="row justify-content-center">
        <div class="col-11 col-sm-4 col-md-4 col-lg-3">
          <h2 class="skillset-title">{{ $t("message.sks") }}</h2>
          <i class="fas fa-cube my-3"></i>
        </div>
        <div class="col-11 col-sm-4 col-md-6 col-lg-7">
          <div class="row justify-content-center">
            <div class="col-6 col-md-4 mb-4" v-for="s in skills">
              <h3 class="text-lg text-gray-600 tracking-wider">{{ s.name }}</h3>
              <div class="progress" style="height:8px">
                <div class="progress-bar" role="progressbar" :aria-valuenow="s.value" aria-valuemin="0"
                  :aria-label="s.name" aria-valuemax="100" :style="{ width: s.value + '%'}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--education-->
    <div class="container-fluid bg-gradient pt-20 pb-16">
      <div class="row justify-content-center">
        <div class="col-11 col-sm-4 col-md-4 col-lg-3">
          <h2 class="education-title">{{ $t("message.edu") }}</h2>
          <i class="fas fa-graduation-cap my-3"></i>
        </div>
        <div class="col-11 col-sm-4 col-md-6 col-lg-7 text-white">
          <div class="mb-4" v-for="e in educations">
            <span class="badge badge-secondary mb-2">{{ e.year }}</span>
            <h3 class="h4">{{ $t(e.subject) }}</h3>
            <p class="text-light-custom">{{ $t(e.school) }}</p>
          </div>
        </div>
      </div>
    </div>
    <!--myworks-->
    <div class="container-fluid pt-20 pb-16">
      <div class="row justify-content-center">
        <div class="col-11 col-sm-4 col-md-4 col-lg-3">
          <h2 class="myworks-title">{{ $t("message.myworks") }}</h2>
          <i class="fas fa-bookmark my-3"></i>
        </div>
        <div class="col-11 col-sm-4 col-md-6 col-lg-7">
          <div class="row">
            <div class="col col-sm-11 col-md-10 col-lg-9 p-0 mb-4" v-for="w in works">
              <div class="card rounded-xl border-0">
                <div class="card-body rounded-xl bg-secondary px-0">
                  <h3 class="h5 text-center text-white my-2 pb-1">{{ $t(w.company) }} - {{ $t(w.project) }}</h3>
                  <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide rounded-xl" v-for="(f, i) in w.files">
                        <img class="rounded-xl d-block img-fluid" :src="`imgs/${w.name}/${f}.png`"
                          :alt="`slide-${f}-${i}`">
                      </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--contact me-->
    <div class="container-fluid bg-gradient pt-20">
      <div class="row justify-content-center">
        <div class="col-11 col-sm-4 col-md-4 col-lg-3">
          <h2 class="contact-title">{{ $t("message.contact") }}</h2>
          <i class="far fa-envelope my-3"></i>
        </div>
        <div class="col-11 col-sm-4 col-md-6 col-lg-7">
          <p class="text-white">{{ $t("message.message") }}</p>
          <p class="h4 text-white">antony88883@gmail.com</p>
        </div>
      </div>
      <!--footer-->
      <div class="pt-4">
        <div class="row justify-content-center">
          <div class="col-10 mx-auto text-center">
            <p class="text-light my-3 tracking-widest">© {{ new Date().getFullYear() }} Antony Zhang</p>
          </div>
        </div>
      </div>
    </div>
    <!--overlay-->
    <div class="loader-frame px-3 py-1" style="display:none">
      <div class="loader"></div>
      <p class="color-main mb-0">{{ $t("message.loading") }}...</p>
    </div>
    <div class="overlay" style="display:none"></div>
  </div>
  <!--bootstrap webkit-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!--vuejs part-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/vue-i18n@8"></script>
  <script src="js/tanslation.js"></script>
  <script src="js/main.js"></script>
  <script src="js/swiper.js"></script>
</body>

</html>